@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
    /* background-image: url(./assets/space.gif); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.chat-bubble
{
    background-color: #032f58bd;
}